# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/
.ruff_cache/

# Env / secrets
.env
.env.*
!.env.example
*.pem
*.key
*.p8
*.json

# Terraform
infra/terraform/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# OS / IDE
.DS_Store
.idea/
.vscode/


firebase-adminsdk*.json
firebase-service-account*.json
*.jpg
*.jpeg
*.png